# Framework Principal
Django==5.2.1

# Servidor WSGI para produção
gunicorn==23.0.0

# Conexão com o banco de dados PostgreSQL (usado pela Render)
psycopg2-binary==2.9.10

# Servir arquivos estáticos em produção
whitenoise==6.9.0

# Gerenciar variáveis de ambiente (do arquivo .env)
python-decouple==3.8

# Dependências do Django
asgiref==3.8.1
sqlparse==0.5.3

# Para manipulação de imagens (se você usa ImageField nos models)
pillow==11.2.1

# Para fazer requisições a APIs externas (adicione se seu app precisar)
# requests==2.31.0

# Gerenciar variáveis de ambiente (do arquivo .env)
python-dotenv==1.0.1
